
*.properties
*.properties
*.properties
*.properties
*.properties
*.properties
concentrador/nbproject/private/private.properties
concentrador/nbproject/private/private.xml
gestor/nbproject/private/private.properties
sensor/nbproject/private/private.properties
*.properties
/central/build/
/gestor/dist/